<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /

    # Ensure that the following lines are executed in the 'public' directory
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d

    # All requests are forwarded to index.php
    RewriteRule ^ index.php [L]
</IfModule>
